/* Responsive css */
@import url('./mainLayout.css');



/* Global style */
body,html{
    width: auto;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: var(--Primary-bg-color) !important;
    font-family: 'Poppins', sans-serif;
}

/* Variable css */
:root{
    --Primary-bg-color:#e5eff8;
    --secondary-bg-color:#44444E;
    --primary-text-color:#5e5959;
    --card-and-button-bg-color:#f0f8fb;
    --hover-card-button:black;
    --secondary-text-color:#D3DAD9;
    --drop-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Font */
@font-face {
    font-family: Poppins;
    src: url(./assets/font/Poppins-Regular.ttf);
}

/* Main style */

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
}

.space{
    width: 50%;
}

/* Logo Container */
.logo-container img{
    width: 300px;
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
}

.logo-container{
    width: 50%;
    text-align: center;
}

/* Navigation container */
.nav-container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-primary{
    background-color: var(--card-and-button-bg-color) !important;
    color: var(--primary-text-color);
    border: none;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover{
    color: var(--primary-text-color) !important;
}

.offcanvas-header{
    background-color: var(--Primary-bg-color) ;
    color: var(--primary-text-color);
}

.offcanvas-body{
    background-color: var(--Primary-bg-color)!important;
    color: var(--primary-text-color);
}

.offcanvas-body ul{
    list-style: none;
    padding: 0;
}

.offcanvas-body a{
    color: var(--primary-text-color);
    text-decoration: none;
}

.offcanvas-body a:hover{
    color: var(--secondary-bg-color);
}

/* Content */

section{
    padding: 10px 5%;
}

/* Search container */
.search-container{
    align-items: center;
    gap: 10px;
}

/* Input Text */
input[type="text"] {
    padding: 14px;
    width: 100%;
    max-width: 250px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    background-color: var(--card-and-button-bg-color);
    box-shadow: var(--drop-shadow);
    outline: none;
}

input::placeholder{
    color: var(--primary-text-color);
}

/* Pokemon container */
.pokemon-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 14px;
}

.pokemon-card{
    background-color: var(--card-and-button-bg-color);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    color: var(--primary-text-color);
    text-decoration: none;
}

.pokemon-card:hover{
    transform: translateY(-5px);
    color: var(--hover-card-button);
}

.pokemon-card img{
    width: 100%;
    max-width: 150px;
    image-rendering: pixelated;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
}

/* Pokemon result */
.result {
    display: none;
    margin-top: 15px;
    padding: 10px;
    background-color: var(--card-and-button-bg-color);
    color: var(--primary-text-color);
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: auto;
}

.result a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.result img {
    width: 160px; 
    text-align: center;
}

.result div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
