/* Responsive css */
@import url('./mainLayout.css');



/* Global style */
body,html{
    width: auto;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: var(--Primary-bg-color);
    font-family: 'Poppins', sans-serif;
}

/* Variable css */
:root{
    --Primary-bg-color:#e5eff8;
    --secondary-bg-color:#44444E;
    --primary-text-color:#1b1818;
    --card-and-button-bg-color:#f0f8fb;
    --hover-card-button:black;
    --secondary-text-color:#D3DAD9;
    --drop-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Font */
@font-face {
    font-family: Poppins;
    src: url(./assets/font/Poppins-Regular.ttf);
}

/* Main style */

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    margin: 100px 0px;
}

/* Logo Container */
.logo-container img{
    width: 300px;
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
}

.logo-container{
    width: 50%;
    text-align: center;
}

/* Navigation container */
.nav-container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hamburger-menu{
    background-color: var(--card-and-button-bg-color);
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: var(--primary-text-color);
}


/* Content */

section{
    margin: 0px 100px;
    margin-bottom: 15px;
}

/* Search container */
.search-container{
    display: flex;
    align-items: center;
}

/* Input Text */
input[type="text"] {
    padding: 14px;
    width: 250px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    background-color: var(--card-and-button-bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

input::placeholder{
    color: var(--primary-text-color);
}

/* Pokemon container */
.pokemon-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
    align-items: center;
}

.pokemon-card{
    background-color: var(--card-and-button-bg-color);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.pokemon-card a{
    text-decoration: none;
    color: var(--primary-text-color);
}

.pokemon-card a:hover{
    text-decoration: underline;
    color: var(--hover-card-button);
    cursor: pointer;
}

.pokemon-card:hover{
    transform: translateY(-5px);
}

.pokemon-card img{
    width: 80%;
}

.pokemon-card{
    text-decoration: none;
    color: var(--primary-text-color);
}

/* Pokemon result */
.result {
    display: none;
    margin-top: 15px;
    padding: 10px;
    background-color: var(--card-and-button-bg-color);
    color: var(--primary-text-color);
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
    height: auto;
}

.result a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.result img {
    width: 160px; 
    text-align: center;
}

.result div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
